<div class="form-group">
    <label class="col-md-2">Title</label>
    <div class="col-md-4">
        <input type="text" placeholder="Table Title" class="form-control" ng-model="module.title" ng-required="true" ng-blur="checkTitle(module.title)">
    </div>
</div>

<module-label></module-label>

<div class="form-group">
    <label class="col-md-2">Data</label>
    <div class="col-md-4">
        <select ng-model="module.data" class="form-control" ng-change="changeDataType(module.data)" required>
            <option value="">- SELECT</option>
            <option ng-repeat="item in dataType" value="{{item.id}}">{{item.name}}</option>
        </select>
    </div>
</div>

<div class="form-group" ng-if="module.data == 'push' || module.data == 'pull'">
    <label class="col-md-2">Data Source</label>
    <div class="col-md-4">
        <select ng-model="module.query" class="form-control" ng-change="validateTable(module.query)" required>
            <option value="">- SELECT</option>
            <option ng-repeat="opt in statementList" value="{{opt.statementId}}">{{opt.name}} | {{opt.type| capitalize}} | {{opt.description}}</option>
        </select>
    </div>

    <!-- <div class="col-md-2">
        <button class="btn btn-primary" type="button" ng-click="validateTable(module.query)">Get Columns</button>
    </div> -->
</div>

<div class="form-group" ng-if="module.data == 'DBPull' || module.data == 'DBStream'">
    <label class="col-md-2">Data Source</label>
    <div class="col-md-4">
        <select ng-model="module.query" class="form-control" ng-change="validateTable(module.query)" required>
            <option value="">- SELECT</option>
            <option ng-repeat="opt in statementList" value="{{opt.statementId}}">{{opt.name}} | {{opt.type| capitalize}} | {{opt.description}}</option>
        </select>
    </div>
</div>

<div class="form-group" ng-if="module.data == 'DBPull'">
    <label class="col-md-2">Frequency</label>
    <div class="col-md-4">
        <select ng-model="module.frequency" class="form-control" required>
            <option ng-repeat="opt in frequencyList" value="{{opt.id}}">{{opt.value}}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Number of Data Element</label>
    <div class="col-md-4">
        <input type="text" placeholder="# of Data Element" class="form-control" ng-model="module.dataelement" >
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Table Column Label</label>
    <div class="col-md-4">
        <select name="labels" ng-model="module.labels" class="form-control" ng-change="tableLabelSelected()" required>
            <option ng-repeat="value in tableColumns" value="{{value.name}}">{{value.name}}</option>
        </select>
    </div>
    <div class="col-md-1">
        <input type="checkbox" ng-model="module.labelAlias"> Alias
    </div>

    <div class="col-md-2" ng-if="module.labelAlias">
        <input type="text" class="form-control" ng-model="module.labelAliasText" placeholder="Alias">
    </div>

</div>

<div class="form-group">
    <label class="col-md-2">Table Columns</label>
    <div class="col-sm-10">
       <!--  <form class="form-inline" >
            <div class="form-group" ng-repeat="item in tableOtherColumns" style="margin-bottom:5px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input id="tc"type="checkbox" ng-click="toggleTableColumns(item, tableOtherColumnsSelected)" style="margin-right:10px;" />
                <label for="tc">{{ item.name | uppercase}}</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="form-group" >
                <form class="form-inline" ng-if="tableOtherColumnsSelected.indexOf(item) > -1">
                    <div class="form-group">
                        <select ng-model="module.unit[item.name]" class="form-control" >
                            <option value="">- UNIT</option>
                            <option value="count">Count</option>
                            <option value="usage">Usage</option>
                            <option value="speed">Speed</option>
                            <option value="percent">%</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div> 
                    <div class="form-group" ng-if="module.unit[item.name] == 'count' || module.unit[item.name] == 'usage' || module.unit[item.name] == 'speed' || module.unit[item.name] == 'percent'">
                        <input type="text" class="form-control" placeholder="Decimal Value" ng-model="module.dataDecimal[item.name]" ng-required="true">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group" >
                        <div class="checkbox checkbox-circle">
                            <input id="p" type="checkbox" ng-mode="module.percentage" name="percentage" ng-click="percentageCheck(item.name)">
                            <label for="p">Percentage</label>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group" >
                        <div class="checkbox checkbox-circle">
                            <input id="I" type="checkbox" ng-click="toggleTableIndicator(item, tableTableIndicator)">
                            <label for="I">Indicator</label>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group" ng-if="tableTableIndicator.indexOf(item.name) > -1">
                        <input type="text" class="form-control" ng-model="module.indicatorTooltip[item.name]" placeholder="Tooltip">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group" >
                        <label>Danger</label>
                            <input type="radio" value="up" ng-model="module.danger[item.name]" name="danger.{{item.name}}"> Up
                            <input type="radio" ng-value="down" ng-model="module.danger[item.name]" name="danger.{{item.name}}"> Down
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </form>
            </div>
        </form> -->

        <div class="form-group" ng-repeat="item in tableOtherColumns track by $index" style="margin-bottom:5px;">
            <div class="col-md-2">
                <input type="checkbox" ng-click="toggleTableColumns(item, tableOtherColumnsSelected)" style="margin-right:10px;" />
                {{ item.name | uppercase}}
            </div>

            <div class="col-md-11" ng-if="tableOtherColumnsSelected.indexOf(item) > -1">
                <div class="row">
                    <div class="col-md-2">
                        <select ng-model="module.unit[item.name]" class="form-control" >
                            <option value="">- UNIT</option>
                            <option value="count">Count</option>
                            <option value="usage">Usage</option>
                            <option value="speed">Speed</option>
                            <option value="percent">%</option>
                        </select>
                    </div>

                    <div class="col-md-2" ng-if="module.unit[item.name] == 'count' || module.unit[item.name] == 'usage' || module.unit[item.name] == 'speed' || module.unit[item.name] == 'percent'">
                        <input type="text" class="form-control" placeholder="Decimal Value" ng-model="module.dataDecimal[item.name]" ng-required="true">
                    </div>

                    <div class="col-md-1">
                        <input type="checkbox" ng-model="module.columnAlias[item.name]"> Alias
                    </div>

                    <div class="col-md-2" ng-if="module.columnAlias[item.name]">
                        <input type="text" class="form-control" ng-model="module.columnAliasText[item.name]" placeholder="Alias">
                    </div>

                    <div class="col-md-3">
                        Percentage
                        <input id="p" type="checkbox" ng-model="percentage" name="percentage" ng-click="percentageCheck(item.name, percentage)" ng-if="tableOtherColumnsSelected.length == 1">

                        <input id="p" type="radio" ng-mode="module.percentage" name="percentage" ng-click="percentageCheck(item.name, 'radio')" ng-if="tableOtherColumnsSelected.length > 1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        Indicator
                        <input id="I" type="checkbox" ng-click="toggleTableIndicator(item, tableTableIndicator)">
                    </div>

                    <div class="col-md-2" ng-if="tableTableIndicator.indexOf(item.name) > -1">
                        <input type="text" class="form-control" ng-model="module.indicatorTooltip[item.name]" placeholder="Tooltip">
                    </div>
                    <div class="col-md-3">
                        <label>Danger</label>&nbsp;&nbsp;
                        <input type="radio" value="up" ng-model="module.danger[item.name]" name="danger.{{item.name}}"> Up
                        <input type="radio" ng-value="down" ng-model="module.danger[item.name]" name="danger.{{item.name}}"> Down
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Piety chart options -->
<div ng-if="module.percentage">
    <div class="form-group">
        <label class="col-md-2">{{module.percentage}} Calculated from</label>
        <div class="col-md-4">
            <select ng-model="module.calculate" class="form-control" required>
                <option value="">- SELECT</option>
                <option value="existing">Existing Data</option>
                <option value="query">Query</option>
            </select>
        </div>
    </div>

    <div ng-if="module.calculate == 'query'">
        <div class="form-group">
            <label class="col-md-2">Statement</label>
            <div class="col-md-4">
                <select class="form-control" ng-model="module.calculateQuery" ng-change="pietyChartColumn(module.calculateQuery, module.data)" required>
                    <option value="">- SELECT</option>
                    <option ng-repeat="opt in statementList" value="{{opt.statementId}}">{{opt.name}} | {{opt.type| capitalize}} | {{opt.description}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Column</label>
            <div class="col-md-4">
                <select class="form-control" ng-model="module.pietyColumn" required>
                    <option value="">- SELECT</option>
                    <option ng-repeat="col in pietyChartcolumns">{{col}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="tableTableIndicator.length > 0">
    <label class="col-md-2">Indicator Query</label>
    <div class="col-md-4">
        <select ng-model="module.indicatorQuery" class="form-control" required>
            <option value="">- SELECT</option>
            <option ng-repeat="item in indicatorStatementList" value="{{item.statementId}}">{{item.name}}</option>
        </select>
    </div>
</div>


<div class="form-group">
    <label class="col-md-2">Apply fix ordering</label>
    <div class="col-md-2">
        <input icheck type="checkbox" ng-model="module.fixOrder">
    </div>
</div>

<!-- Table Options -->
<div ng-if="module.type == 'table_with_search'">
    <div class="form-group">
        <label class="col-md-2">Search</label>
        <div class="col-md-4">
            <input icheck type="checkbox" ng-model="module.searching" value="true">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Sort</label>
        <div class="col-md-4">
            <input icheck type="checkbox" ng-model="module.sort" value="true">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Pagination</label>
        <div class="col-md-4">
            <input icheck type="checkbox" ng-model="module.paging" value="true">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Info Record</label>
        <div class="col-md-4">
            <input icheck type="checkbox" ng-model="module.info" value="true">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Per Page</label>
        <div class="col-md-4">
            <input icheck type="checkbox" ng-model="module.length" value="true">
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Is Clickable </label>
    <div class="col-md-4">
        <input icheck type="checkbox" ng-model="module.clickable" ng-change="isClickable(module.clickable)">
    </div>
</div>

<!-- isClickable Start -->
<div class="hr-live-dashed" ng-if="state">
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <label class="col-md-2">ToolTip</label>
        <div class="col-md-4">
            <input type="text" placeholder="Tooltip" class="form-control" ng-model="module.clickableTooltip" ng-required="true">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Page</label>
        <div class="col-md-4">
            <select ng-model="module.page" class="form-control" required>
                <option value="">- SELECT</option>
                <option ng-repeat="item in redirectionOption" value="{{item.fileId}}|{{item.table}}">{{item.file}} | {{item.page}}</option>
            </select>
        </div>
    </div>
</div>

<!-- <div class="hr-live-dashed" ng-if="state">
    
</div> -->
<!-- isClickable End -->