<div class="wrapper wrapper-content animated fadeIn" ng-controller="planProfitabilityRealisationBBCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Node BW Utilisation</h5>
                </div>
                <div class="ibox-content">
                    <highchart id="chart2" config="NodechartConfig" ></highchart>
                </div>
            </div>
        </div>
    </div>
</div>