<div class="inmodal">
    <div class="modal-header">
        <a class="pull-right" ng-click="cancel()"><i class="fa fa-times"></i></a>
        <!--<h4 class="modal-title"></h4>-->
    </div>
    <div class="modal-body">
        <div class="text-center">
                <div class="btn-group  ">
                    <!-- <label class="btn btn-primary btn-rounded btn-sm btn-outline" ng-model="ceiDetailsBtn['SubsTp']" uib-btn-checkbox ng-click="ceiDetails(true, false, false)">Subscriber Throughput</label> -->
                    <label class="btn btn-primary btn-rounded btn-sm btn-outline" ng-model="ceiDetailsBtn['SpltrUsage']" uib-btn-checkbox ng-click="ceiDetails(true, false, false)">Splitter Usage</label>
                   <!--  <label class="btn btn-primary btn-rounded btn-sm btn-outline" ng-model="ceiDetailsBtn['SubsApp']" uib-btn-checkbox ng-click="ceiDetails(false, true, false)">Subscriber Apps Dist.</label> -->
                    <label class="btn btn-primary btn-rounded btn-sm btn-outline" ng-model="ceiDetailsBtn['OLTTp']" uib-btn-checkbox ng-click="ceiDetails(false, true, false)">OLT Throughput</label>
                    <label class="btn btn-primary btn-rounded btn-sm btn-outline" ng-model="ceiDetailsBtn['OLTAppTp']" uib-btn-checkbox ng-click="ceiDetails(false, false, true)">OLT App Throughput</label>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeIn" >
            
            
            <div class="ibox-content">
                <span ng-if="showindicatorDiv" class="label pull-right label-{{textColor}}" title="{{comparedVal}} % {{indicatorStatus}}, as compared to last week hour">{{ comparedVal }} % <i class=" fa fa-level-{{indicatorStatus}}" ></i></span>

                <div loading-icon ng-if="loadingThroughputDiv && !noDataThroughputDiv"></div>
                <div ng-if="!loadingThroughputDiv && !noDataThroughputDiv">
                    <highchart id="chart2" config="throughputChartConfig" ></highchart>
                </div>
                <div no-data-found ng-if="!loadingThroughputDiv && noDataThroughputDiv">
                </div>
                <div ng-if="!loadingThroughputDiv && !noDataThroughputDiv" class="pull-right"><b>&lowast;</b><small >Select Chart Area to Zoom</small></div>
            </div>
        </div>
    </div>
</div>