<div class="wrapper-content animated fadeIn" ng-controller="topUsersTrendBBCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6  pull-right">
                <div class="float-e-margins  pull-right">
                    <form role="form" class="form-inline"  ng-submit="submitClick()">
                        <date-range-picker></date-range-picker>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span>Top subscribers as on Date <b style="color:#1ab394;">{{sDate}} </b> and comparison of their usage to Date <b style="color:#1ab394;">{{edate}} </b> </span>
                    <!-- <export-module filename="'Top Users Trend'" dataobj="exportTopUsersTrend" ></export-module> -->
                </div>
                <div class="ibox-content">
                    <div loading-icon ng-if="loadingTopUsersTrendDiv && !noDataTopUsersTrendDiv"></div>
                    <div ng-if="!loadingTopUsersTrendDiv && !noDataTopUsersTrendDiv">
                        <highchart id="chart1" config="chartConfig" ></highchart>
                    </div>
                    <div no-data-found ng-if="!loadingTopUsersTrendDiv && noDataTopUsersTrendDiv"></div>
                    <span class="text-center">
                        <form role="form" class="form-inline"  >
                            <div class="form-group" style="color:#3D8EB9;"> 
                                <i class="fa fa-minus" ></i>&nbsp;Usage&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-group" style="color:#92F22A;">
                                <i class="fa fa-minus" ></i>&nbsp;% Increase of Usage&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-group" style="color:rgb(192, 57, 43);">
                                <i class="fa fa-minus" ></i>&nbsp;% Decrease of Usage&nbsp;&nbsp;&nbsp;
                            </div>
                        </form>
                        
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>