<div class="inmodal">
    <div style="background-color:Teal;" class="modal-header">
        <a  style="background-color:red;" class="pull-right" ng-click="cancel()"><i class="fa fa-times"></i></a>
        <h5 class="modal-title" >FUP Calender Dates</h5>
    </div>
    <div class="modal-body">
        <div  style="background-color:Azure ;" class="wrapper wrapper-content animated fadeIn" data-ng-init="onloadFun()">
            <!-- <div class="ibox-title">sssss
                <h5>{{title}} </h5>
                <export-module filename="title" dataobj="exportSubList" fileheader="header"></export-module>
            </div> -->
        <div class="Row">
            <div class="Column" id="caleandar">
            </div>
            <div class="Column" id="caleandar_1">
            </div>
            <div class="Column" id="caleandar_2">
            </div>
        </div>

        <div class="Row">
            <div class="Column" id="caleandar_3">
            </div>
            <div class="Column" id="caleandar_4">
            </div>
            <div class="Column" id="caleandar_5">
            </div>
        </div>    
        </div>
    </div>
</div>