<div ng-controller="infoCtrl">
	<div ng-if="module_InfoBox">
		<p >module_InfoBox---> Coming Soon!!</p>
	</div>
	<div ng-if="module_SimpleIbox">
		<p >module_SimpleIbox---> Coming Soon!!</p>
	</div>
	<div ng-if="module_iBox_Multi_no_Header">
		<p >module_iBox_Multi_no_Header---> Coming Soon!!</p>
	</div>
	<div ng-if="module_iboxWithGauge">
		<p >module_iboxWithGauge---> Coming Soon!!</p>
	</div>
	<div ng-if="module_iboxWithDualDataPoint">
		<p >module_iboxWithDualDataPoint---> Coming Soon!!</p>
	</div>
	<div ng-if="module_simpleIboxWithTrend">
		<p >module_simpleIboxWithTrend---> Coming Soon!!</p>
	</div>
	<div ng-if="module_iBoxEmbedWithChart">
		<p >module_iBoxEmbedWithChart---> Coming Soon!!</p>
	</div>
	<div ng-if="module_SimpleCharts">
		<p >module_SimpleCharts---> Coming Soon!!</p>
	</div>
	<div ng-if="module_simpleTableOrTableWithSearch">
		<p >module_simpleTableOrTableWithSearch---> Coming Soon!!</p>
	</div>
	<div ng-if="module_colExtendedTable">
		<p >module_colExtendedTable---> Coming Soon!!</p>
	</div>
	<div ng-if="module_gaugeChart">
		<p >module_gaugeChart---> Coming Soon!!</p>
	</div>
	<div ng-if="module_Map">
		<p >module_Map---> Coming Soon!!</p>
	</div>
	<div ng-if="module_customModule">
		<p >module_customModule---> Coming Soon!!</p>
	</div>
</div>