<div ng-controller="infoCtrl">
	<div ng-if="statement_cep_specta_stream">
		<p>Coming Soon 1 2 3 .....!!</p>
	</div>

	<div ng-if="statement_cep_specta_aggregation">
		<p>Coming Soon 1 2 3 .....!!</p>
	</div>

	<div ng-if="statement_cep_specta_filter">
		<p>Coming Soon 1 2 3 .....!!</p>
	</div>

	<div ng-if="statement_cep_specta_groupby">
		<p>Coming Soon 1 2 3 .....!!</p>
	</div>

	<div ng-if="statement_cep_specta_sortby">
		<p>Coming Soon 1 2 3 .....!!</p>
	</div>

	<div ng-if="statement_cep_specta_limit">
		<p>Coming Soon 1 2 3 .....!!</p>
	</div>
</div>