
<div class="form-group">
    <label class="col-sm-6">Title</label>
    <div class="col-sm-6">{{module.title}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Data Source</label>
    <div class="col-sm-6">{{dataType[module.data]}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Statement</label>
    <div class="col-sm-6">{{module.statementName}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Statement Id</label>
    <div class="col-sm-6">{{module.query}}</div>
</div>


<div class="form-group" ng-if="module.data == 'DBPull'">
    <label class="col-sm-6">Frequency</label>
    <div class="col-sm-6">{{module.frequency}}</div>
</div>

<div ng-if="module.plotKey !== ''">
    <div class="form-group">
        <label class="col-sm-6">Plot Key</label>
        <div class="col-sm-6">{{module.plotKey}}</div>
    </div>

    <div class="form-group">
        <label class="col-sm-6">Plot Value</label>
        <div class="col-sm-6">{{module.plotValue}}</div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-6">Data Value</label>
    <div class="col-sm-6">{{module.kpi}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6" >Decimal Value</label>
    <div class="col-sm-6">{{module.dataDecimal}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6" >Maximum Value</label>
    <div class="col-sm-6">{{module.max}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6" >Color</label>
    <div class="col-sm-6">{{module.color}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6" >Threshold Value</label>
    <div class="col-sm-6">{{module.threshold}}</div>
</div>
<div class="form-group">
    <label class="col-sm-6" >Threshold Color</label>
    <div class="col-sm-6">{{module.thresholdcolor}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Unit</label>
    <div class="col-sm-6">{{module.unit}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Auto adjust unit</label>
    <div class="col-sm-6">{{module.unitAdjustFlag}}</div>
</div>