<div class="form-group">
    <label class="col-sm-6">Display</label>
    <div class="col-sm-6">{{module.display}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Data Source</label>
    <div class="col-sm-6">{{dataType[module.data2]}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Statement</label>
    <div class="col-sm-6">{{module.statementName2}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Statement Id</label>
    <div class="col-sm-6">{{module.query2}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Data Value</label>
    <div class="col-sm-6">{{module.kpi2}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Color</label>
    <div class="col-sm-6">{{module.color2}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Remark</label>
    <div class="col-sm-6">{{module.remark2}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Decimal Value</label>
    <div class="col-sm-6">{{module.dataDecimal2}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Unit</label>
    <div class="col-sm-6">{{module.unit2}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Auto adjust unit</label>
    <div class="col-sm-6">{{module.unitAdjustFlag2}}</div>
</div>

<!-- Indicator Start -->
<div class="form-group">
    <label class="col-sm-6">Indicator</label>
    <div class="col-sm-6">{{module.indicator2}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Indicator ToolTip</label>
    <div class="col-sm-6">{{module.indicatorTooltip2}}</div>
</div>

<div ng-if="module.indicator2">
    <div class="form-group">
        <label class="col-sm-6">Indicator Query</label>
        <div class="col-sm-6">{{module.indicatorQuery2}}</div>
    </div>

    <div class="form-group">
        <label class="col-sm-6">Danger</label>
        <div class="col-sm-6">{{module.danger2}}</div>
    </div>
</div>
<!-- Indicator End -->