<div class="row wrapper border-bottom white-bg">
    <h2 class="pull-left" style="margin:10px 0 0 0;">Home / </h2>
    <h3 class="pull-left" style="margin:16px 0 13px 8px;">Redirection</h3>
</div>

<div class="wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Redirection Option</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="myForm" role="form" ng-submit="save()">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="item.name" placeholder="File Name" ng-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Page</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="item.page" ng-required="true">
                                    <option value="">Select</option>
                                    <option value="dashboard">Dashboard</option>
                                    <option value="report">Report</option>
                                    <option value="analysis">Analytics</option>
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="button" ng-click="cancel()">Cancel</button>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

        
