<div class="form-group">
    <label class="col-sm-6">Name</label>
    <div class="col-sm-6">{{module.name}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Label</label>
    <div class="col-sm-6">{{module.label}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Label Color</label>
    <div class="col-sm-6">{{colorType[module.labelColor]}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Data Source</label>
    <div class="col-sm-6">{{dataType[module.data]}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Statement</label>
    <div class="col-sm-6">{{module.statementName}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Statement Id</label>
    <div class="col-sm-6">{{module.query}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Data Value</label>
    <div class="col-sm-6">{{module.kpi}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Decimal Value</label>
    <div class="col-sm-6">{{module.dataDecimal}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Unit</label>
    <div class="col-sm-6">{{module.unit}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Auto adjust unit</label>
    <div class="col-sm-6">{{module.unitAdjustFlag}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">KPI Indicator</label>
    <div class="col-sm-6">{{module.kpiIndicator}}</div>
</div>

<div class="form-group">
    <label class="col-sm-6">Indicator Type</label>
    <div class="col-sm-6">{{module.indicatortype}}</div>
</div>