<div class="wrapper wrapper-content animated fadeIn" ng-controller="BBCustomerAnalyticEnterIPsCtrl">
    <div class="row" >
        <div class="col-lg-12">
        <form role="form" class="form-inline" ng-submit="submit() ">
            <div class="form-group">
                <input type="text" ng-model="customer.ip" placeholder="Enter Customer ID/IP" name="search" class="form-control" minlength="5" maxlength="15" required>
            </div>
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
        </form>
    </div>
    </div>
</div>