<div class="wrapper-content animated fadeIn " ng-controller="handoverDistributionCtrl">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline" ng-submit="click()">
                <div class="form-group" ><b>Location</b>
                    <input type="button" value="&darr;" ng-click="location()" />
                    <div id="location" ng-show="treeLocation" style="z-index:999;position:absolute;max-height: 300px;width: auto; overflow-y: auto;">
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="input-group pull-right">
                    <form role="form" class="form-inline">
                        <single-date-picker></single-date-picker>
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <p><b>Location:</b> {{locationinfo}}<!-- &nbsp;&nbsp;&nbsp;<b>RAT:</b> {{ratinfo}}&nbsp;&nbsp;&nbsp;<b>Segment:</b>{{segmentinfo}}&nbsp;&nbsp;&nbsp;<b>Device:</b> {{deviceinfo}} --></p>
        </div>
    </div>

    <div class="row" >
        <div class="col-lg-12">
            <div class="tabs-container" >
                <uib-tabset >
                    <uib-tab index="1" heading="Handover towards 3G/2G Cells" ng-click="tabSelected('4GCellsHandover')" >
                        <div class="panel-body">
                            <div class="row" >
                                <div class="col-lg-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span>4G Cells Handover towards 3G Cells Date <b style="color:#1ab394;"> {{edate}} </b> </span>
                                                
                                            <export-module filename="export4GCellsHandoverObj.fileName" dataobj="export4GCellsHandover" fileheader="export4GCellsHandoverObj.fileHeader"></export-module>

                                            <div class="pull-right">
                                                <select ng-model="rowCount" ng-change='chngTopCellCount(rowCount)' style="height:18px;font-size:10px;padding:0px 12px;">
                                                    <option value="200">Top 200</option>
                                                    <option value="500">Top 500</option>
                                                    <option value="750">Top 750</option>
                                                    <option value="1000">Top 1000</option>
                                                    <option value="1500">Top 1500</option>
                                                    <option value="2000">Top 2000</option>
                                                    <option value="20000">&gt; 2000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div>
                                                <span ng-if="loading4GCellsHandoverDiv" loading-icon></span>
                                                <span no-data-found ng-if="noData4GCellsHandoverDiv"></span>
                                            </div>
                                            <div>
                                                <ui-gmap-google-map center='map4GCellsHandover.center' zoom='map4GCellsHandover.zoom' options='map4GCellsHandover.options' size="map4GCellsHandover.size" control="map4GCellsHandover.control">
                                                    <ui-gmap-markers models="map4GCellsHandoverMarker" coords="'self'" icon="'icon'" events="map4GCellsHandover.events" options="'options'" fit='true'>
                                                        <ui-gmap-windows show="show">
                                                            <div ng-non-bindable><b>{{title}}</b></div>
                                                        </ui-gmap-windows>
                                                    </ui-gmap-markers>
                                                </ui-gmap-google-map>
                                            </div>
                                            <br/>
                                            <span ng-if="map4GCellsHandoverMarker.length>0">
                                                <div class="checkbox checkbox-circle checkbox-success checkbox-inline">
                                                    <input type="checkbox" id="inlineCheckbox3" ng-model="checkboxCountLowStatus" ng-click="checkboxLowCountStateChange(checkboxCountLowStatus, map4GCellsHandoverMarker,'map4GCellsHandoverMarker')" ng-checked="{{checkboxCountLowStatus}}">
                                                    <label for="inlineCheckbox3"> 0- {{low}} </label>
                                                </div>
                                                <div class="checkbox checkbox-circle checkbox-warning checkbox-inline" >
                                                    <input type="checkbox" id="inlineCheckbox2" ng-model="checkboxCountMediumStatus" ng-click="checkboxMediumCountStateChange(checkboxCountMediumStatus, map4GCellsHandoverMarker, 'map4GCellsHandoverMarker')"  ng-checked="{{checkboxCountMediumStatus}}">
                                                    <label for="inlineCheckbox2"> {{low}}-{{medium}} </label>
                                                </div>
                                                <div class="checkbox checkbox-circle checkbox-danger checkbox-inline" >
                                                    <input type="checkbox" id="inlineCheckbox1" ng-model="checkboxCountHighStatus" ng-click="checkboxHighCountStateChange(checkboxCountHighStatus, map4GCellsHandoverMarker, 'map4GCellsHandoverMarker')" ng-checked="{{checkboxCountHighStatus}}">
                                                    <label for="inlineCheckbox1"> {{medium}}-{{highest}} </label>
                                                </div>
                                            </span>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span>4G Cells Handover towards 2G Cells Date <b style="color:#1ab394;"> {{edate}} </b> </span>
                                                
                                            <export-module filename="export4GCellsHandoverto2GObj.fileName" dataobj="export4GCellsHandoverto2G" fileheader="export4GCellsHandoverto2GObj.fileHeader"></export-module>

                                            <div class="pull-right">
                                                <select ng-model="rowCount" ng-change='chngTopCellCount(rowCount)' style="height:18px;font-size:10px;padding:0px 12px;">
                                                    <option value="200">Top 200</option>
                                                    <option value="500">Top 500</option>
                                                    <option value="750">Top 750</option>
                                                    <option value="1000">Top 1000</option>
                                                    <option value="1500">Top 1500</option>
                                                    <option value="2000">Top 2000</option>
                                                    <option value="20000">&gt; 2000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div>
                                                <span ng-if="loading4GCellsHandoverto2GDiv" loading-icon></span>
                                                <span no-data-found ng-if="noData4GCellsHandoverto2GDiv"></span>
                                            </div>
                                            <div>
                                                <ui-gmap-google-map center='map4GCellsHandoverto2G.center' zoom='map4GCellsHandoverto2G.zoom' options='map4GCellsHandoverto2G.options' size="map4GCellsHandoverto2G.size" control="map4GCellsHandoverto2G.control">
                                                    <ui-gmap-markers models="map4GCellsHandoverto2GMarker" coords="'self'" icon="'icon'" events="map4GCellsHandoverto2G.events" options="'options'" fit='true'>
                                                        <ui-gmap-windows show="show">
                                                            <div ng-non-bindable><b>{{title}}</b></div>
                                                        </ui-gmap-windows>
                                                    </ui-gmap-markers>
                                                </ui-gmap-google-map>
                                            </div>
                                            <br/>
                                            <span ng-if="map4GCellsHandoverto2GMarker.length>0">
                                                <div class="checkbox checkbox-circle checkbox-success checkbox-inline">
                                                    <input type="checkbox" id="inlineCheckbox3" ng-model="checkboxCountLowStatus" ng-click="checkboxLowCountStateChange(checkboxCountLowStatus, map4GCellsHandoverto2GMarker,'map4GCellsHandoverto2GMarker')" ng-checked="{{checkboxCountLowStatus}}">
                                                    <label for="inlineCheckbox3"> 0- {{low}} </label>
                                                </div>
                                                <div class="checkbox checkbox-circle checkbox-warning checkbox-inline" >
                                                    <input type="checkbox" id="inlineCheckbox2" ng-model="checkboxCountMediumStatus" ng-click="checkboxMediumCountStateChange(checkboxCountMediumStatus, map4GCellsHandoverto2GMarker, 'map4GCellsHandoverto2GMarker')"  ng-checked="{{checkboxCountMediumStatus}}">
                                                    <label for="inlineCheckbox2"> {{low}}-{{medium}} </label>
                                                </div>
                                                <div class="checkbox checkbox-circle checkbox-danger checkbox-inline" >
                                                    <input type="checkbox" id="inlineCheckbox1" ng-model="checkboxCountHighStatus" ng-click="checkboxHighCountStateChange(checkboxCountHighStatus, map4GCellsHandoverto2GMarker, 'map4GCellsHandoverto2GMarker')" ng-checked="{{checkboxCountHighStatus}}">
                                                    <label for="inlineCheckbox1"> {{medium}}-{{highest}} </label>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="ibox-content">
                                        <div>
                                            <table id="map3GCellsHandover" datatable="ng" class="table table-striped table-bordered table-hover dataTables-example" dt-options="{'aaSorting': [6]}">
                                                <thead>
                                                    <tr>
                                                        <th>Cell ID</th>
                                                        <th>Area</th>
                                                        <th>Latitude</th>
                                                        <th>Longitude</th>
                                                        <th>2G Handover</th>
                                                        <th>3G Handover</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="element in map4GCellsHandoverTable track by $index">
                                                        <td>{{ element.cellid }}</td>
                                                        <td>{{ element.Area }}</td>
                                                        <td>{{ element.latitude }}</td>
                                                        <td>{{ element.longitude }}</td>
                                                        <td>{{ element['2GHandover'] }}</td>
                                                        <td>{{ element['3GHandover'] }}</td>
                                                        <td>{{ element['TotalHandover'] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab index="2" heading="Handover towards 2G Cells" ng-click="tabSelected('3GCellsHandover')" >
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span>3G Cells Handover towards 2G Cells for Date <b style="color:#1ab394;"> {{edate}} </b> </span>
                                        
                                    <export-module filename="export3GCellsHandoverObj.fileName" dataobj="export3GCellsHandover" fileheader="export3GCellsHandoverObj.fileHeader"></export-module>

                                    <div class="pull-right">
                                        <select ng-model="rowCount" ng-change='chngTopCellCount(rowCount)' style="height:18px;font-size:10px;padding:0px 12px;">
                                            <option value="200">Top 200</option>
                                            <option value="500">Top 500</option>
                                            <option value="750">Top 750</option>
                                            <option value="1000">Top 1000</option>
                                            <option value="1500">Top 1500</option>
                                            <option value="2000">Top 2000</option>
                                            <option value="20000">&gt; 2000</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <span ng-if="loading3GCellsHandoverDiv" loading-icon></span>
                                        <span no-data-found ng-if="noData3GCellsHandoverDiv"></span>
                                    </div>
                                    <div>
                                        <ui-gmap-google-map center='map3GCellsHandover.center' zoom='map3GCellsHandover.zoom' options='map3GCellsHandover.options' size="map3GCellsHandover.size" control="map3GCellsHandover.control">
                                            <ui-gmap-markers models="map3GCellsHandoverMarker" coords="'self'" icon="'icon'" events="map3GCellsHandover.events" options="'options'" fit='true'>
                                                <ui-gmap-windows show="show">
                                                    <div ng-non-bindable><b>{{title}}</b></div>
                                                </ui-gmap-windows>
                                            </ui-gmap-markers>
                                        </ui-gmap-google-map>
                                    </div>
                                    <br/>
                                    <span ng-if="map3GCellsHandoverMarker.length>0">
                                        <div class="checkbox checkbox-circle checkbox-success checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox3" ng-model="checkboxCountLowStatus" ng-click="checkboxLowCountStateChange(checkboxCountLowStatus, map3GCellsHandoverMarker,'map3GCellsHandoverMarker')" ng-checked="{{checkboxCountLowStatus}}">
                                            <label for="inlineCheckbox3"> 0- {{low}} </label>
                                        </div>
                                        <div class="checkbox checkbox-circle checkbox-warning checkbox-inline" >
                                            <input type="checkbox" id="inlineCheckbox2" ng-model="checkboxCountMediumStatus" ng-click="checkboxMediumCountStateChange(checkboxCountMediumStatus, map3GCellsHandoverMarker, 'map3GCellsHandoverMarker')"  ng-checked="{{checkboxCountMediumStatus}}">
                                            <label for="inlineCheckbox2"> {{low}}-{{medium}} </label>
                                        </div>
                                        <div class="checkbox checkbox-circle checkbox-danger checkbox-inline" >
                                            <input type="checkbox" id="inlineCheckbox1" ng-model="checkboxCountHighStatus" ng-click="checkboxHighCountStateChange(checkboxCountHighStatus, map3GCellsHandoverMarker, 'map3GCellsHandoverMarker')" ng-checked="{{checkboxCountHighStatus}}">
                                            <label for="inlineCheckbox1"> {{medium}}-{{highest}} </label>
                                        </div>
                                    </span>
                                    <br/>
                                    <div class="ibox-content">
                                        <div>
                                            <table id="map3GCellsHandover" datatable="ng" class="table table-striped table-bordered table-hover dataTables-example" dt-options="{'aaSorting': [4]}">
                                                <thead>
                                                    <tr>
                                                        <th>Cell ID</th>
                                                        <th>Area</th>
                                                        <th>Latitude</th>
                                                        <th>Longitude</th>
                                                        <th>2G Handover</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="element in map3GCellsHandoverTable track by $index">
                                                        <td>{{ element.cellid }}</td>
                                                        <td>{{ element.Area }}</td>
                                                        <td>{{ element.latitude }}</td>
                                                        <td>{{ element.longitude }}</td>
                                                        <td>{{ element['2GHandover'] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
   
</div>