<div class=" wrapper-content animated fadeIn" ng-controller="appSubscriberMovementTrackerCtrl">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline" ng-submit="click()">
                <div class="form-group"><b>Zone</b>
                    <input type="button" value="&darr;" ng-click="onTree('zone')" />
                    <div id="zone" ng-show="tree.zone" style="z-index:999;position:absolute;max-height: 300px;width: auto; overflow-y: auto;">
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <div class="form-group"><b>City</b>
                    <input type="button" value="&darr;"ng-click="onTree('city')"  />
                    <div id="city" ng-show="tree.city" style="z-index:999;position:absolute;max-height: 300px;width: auto; overflow-y: auto;">
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <div class="form-group"><b>Area</b>
                    <input type="button" value="&darr;" ng-click="onTree('area')"/>
                    <div id="area" ng-show="tree.area" style="z-index:999;position:absolute;max-height: 300px;width: auto; overflow-y: auto;">
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <div class="form-group"><b>Plan</b>
                    <input type="button" value="&darr;" ng-click="onTree('plan')"/>
                    <div id="plan" ng-show="tree.plan" style="z-index:999;position:absolute;max-height: 300px;width: auto; overflow-y: auto;">
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                
                <div class="form-group pull-right" >
                    <form role="form" class="form-inline">
                        <div class="input-group datepicker input-daterange"  data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-start-date="2016-06-03" data-date-end-date="0d" data-date-clear-btn="true" data-date-autoclose="true" id="datepicker">
                            <div class="form-group" >
                                <input id="startDate" type="text" class="form-control input-xs" ng-model="date.start" required placeholder="From Date"/>
                            </div>
                            <div class="form-group">
                                <input id="endDate" type="text" class="form-control input-xs" ng-model="date.end" required  placeholder="To Date">
                            </div>
                            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <br/>
    
    <!-- <div class="row" >
        <div class="col-lg-12">
            <p><b>Location:</b> {{locationinfo}}&nbsp;&nbsp;&nbsp;<b>RAT:</b> {{ratinfo}}&nbsp;&nbsp;&nbsp;<b>Segment:</b>{{segmentinfo}}&nbsp;&nbsp;&nbsp;<b>Device:</b> {{deviceinfo}}</p>
        </div>
    </div> -->
    
    <div class="row" >
        <div class="col-lg-12">
            <div class="tabs-container" >
                <uib-tabset >
                    <uib-tab heading="Subscriber Count Trend">
                        <div class="panel-body" active="true" >
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <!-- <div class="pull-right">
                                            <span class="ibox-tools dropdown" uib-dropdown class="">
                                                <a class="dropdown-toggle" href uib-dropdown-toggle>
                                                    <span class="pull-right label label-primary">Export</span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a ng-click="dataExport(exportAppDistribution,'excel', 'Top Devices with High Latency')">Export to Excel</a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="dataExport(exportAppDistribution,'csv', 'Top Devices with High Latency')">Export to CSV</a>
                                                    </li>
                                                </ul>
                                            </span>
                                        </div> -->
                                        <div class="ibox-content">
                                            <div class="col-md-12 col-sm-12">
                                                <div loading-icon ng-if="loading"></div>
                                                <div ng-if="dataLoaded">
                                                    <highchart id="chart2-unlimited" config="countChartConfig" ></highchart>
                                                </div>
                                                <div no-data-found ng-if="noData"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    
                    <uib-tab heading="Subscriber Usage Trend">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox-content">
                                        <div class="col-md-12 col-sm-12">
                                            <div loading-icon ng-if="loading"></div>
                                            <div ng-if="dataLoaded">
                                                <highchart id="chart2-unlimited" config="usageChartConfig" ></highchart>
                                            </div>
                                            <div no-data-found ng-if="noData"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>