<div class="row wrapper border-bottom white-bg">
    <h2 class="pull-left" style="margin:10px 0 0 0;">Home / </h2>
    <h3 class="pull-left" style="margin:16px 0 13px 8px;">Test</h3>
</div>

<style type="text/css">
    td{padding: 40px;}
</style>

<div class="wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>CEI</h5>
                </div>
                <div class="ibox-content">
                    <div class="col-lg-6">
                        <div class="form-group text-center">
                            <b>CEI</b>
                        </div>
                        <table border="2" style="width:100%">
                            <tr>
                                <td>
                                    <div class="widget btn-success p-lg text-center">
                                        <div class="btn m-b-md" ng-click="goto('userlist')">
                                            <!-- <i class="fa fa-user fa-4x"></i> -->
                                            <h1 class="font-bold no-margins">1</h1>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="widget btn-primary p-lg text-center">
                                        <div class="btn m-b-md" ng-click="goto('userlist')">
                                            <!-- <i class="fa fa-user fa-4x"></i> -->
                                            <h1 class="font-bold no-margins">2</h1>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="widget btn-warning p-lg text-center">
                                        <div class="btn m-b-md" ng-click="goto('userlist')">
                                            <!-- <i class="fa fa-user fa-4x"></i> -->
                                            <h1 class="font-bold no-margins">3</h1>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="widget btn-danger p-lg text-center">
                                        <div class="btn m-b-md" ng-click="goto('userlist')">
                                            <!-- <i class="fa fa-user fa-4x"></i> -->
                                            <h1 class="font-bold no-margins">4</h1>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="float: left;line-height: 495px;vertical-align: middle;"><b>USAGE</b></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
