<div class="form-group" ng-repeat="item in choices">
    <label class="col-md-2">Tab Name</label>
    <div class="col-md-4">
        <input type="text" placeholder="Tab Name" class="form-control" ng-model="module.tabname[item]" ng-required="true">
    </div>
    <div class="col-md-4">
        <div ng-click="addModule()">Add Module</div>
    </div>
</div>

<div class="form-group">
    <div class="s-menu-r" >
        <a href="" class="button" ng-click="addItem()">Add Item</a>
    </div>

    <div class="s-menu-r" ng-if="removeBtn">
        <a href="" class="button" ng-click="removeItem()">Remove Item</a>
    </div>
</div>

<!-- <div class="form-group">
    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" placeholder="Table Name" class="form-control" ng-model="module.name" ng-required="true">
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Label</label>
    <div class="col-md-4">
        <input type="text" placeholder="Table Label" class="form-control" ng-model="module.label">
    </div>
</div>

<div class="form-group" ng-if="module.label">
    <label class="col-md-2">Label Color</label>
    <div class="col-md-4">
        <select ng-model="module.labelColor" class="form-control" required>
            <option value="">- SELECT</option>
            <option value="label label-success">Blue</option>
            <option value="label label-primary">Green</option>
            <option value="label label-info">Cyan</option>
            <option value="label label-warning">Yellow</option>
            <option value="label label-danger">Red</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Data</label>
    <div class="col-md-4">
        <select ng-model="module.data" class="form-control" ng-change="changeDataType(module.data)" required>
            <option value="">- SELECT</option>
            <option value="push">CEP-Stream</option>
            <option value="DBStream">DB-Stream</option>
            <option value="pull">DB-Push</option>
            <option value="DBPull">DB-Pull</option>
        </select>
    </div>
</div>

<div class="form-group" ng-if="module.data == 'push' || module.data == 'pull'">
    <label class="col-md-2">Data Source</label>
    <div class="col-md-4">
        <select ng-model="module.query" class="form-control" required>
            <option value="">- SELECT</option>
            <option ng-repeat="opt in statementList" value="{{opt.statementId}}">{{opt.name}} -- {{opt.query}}</option>
        </select>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary" type="button" ng-click="validateTable(module.query)">Get Columns</button>
    </div>
</div>

<div class="form-group" ng-if="module.data == 'DBPull' || module.data == 'DBStream'">
    <label class="col-md-2">Data Source</label>
    <div class="col-md-4">
        <select ng-model="module.query" class="form-control" ng-change="validateTable(module.query)" required>
            <option value="">- SELECT</option>
            <option ng-repeat="opt in statementList" value="{{opt.statementId}}">{{opt.name}} -- {{opt.query}}</option>
        </select>
    </div>
</div>

<div class="form-group" ng-if="module.data == 'DBPull'">
    <label class="col-md-2">Frequency</label>
    <div class="col-md-4">
        <select ng-model="module.frequency" class="form-control" required>
            <option ng-repeat="opt in frequencyList" value="{{opt.id}}">{{opt.value}}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Number of Data Element</label>
    <div class="col-md-4">
        <input type="text" placeholder="# of Data Element" class="form-control" ng-model="module.dataelement" ng-required="true">
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Table Column Label</label>
    <div class="col-md-4">
        <select name="labels" ng-model="module.labels" class="form-control" ng-change="tableLabelSelected()" required>
            <option ng-repeat="value in tableColumns" value="{{value.name}}">{{value.name}}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Table Columns</label>
    <div class="col-md-10">
        <div class="row" ng-repeat="item in tableOtherColumns" style="margin-bottom:5px;">
            <div class="col-md-4">
                <input type="checkbox" ng-click="toggleTableColumns(item, tableOtherColumnsSelected)" style="margin-right:10px;" />
                {{ item.name | uppercase}}
            </div>

            <div class="col-md-8" ng-if="tableOtherColumnsSelected.indexOf(item) > -1">
                <div class="col-md-6">
                    <select ng-model="module.unit[item.name]" class="form-control" >
                        <option value="">- SELECT UNIT</option>
                        <option value="count">Count</option>
                        <option value="usage">Usage</option>
                        <option value="speed">Speed</option>
                        <option value="percent">%</option>
                    </select>
                </div>
                <div class="col-md-6" ng-if="module.unit[item.name] == 'count' || module.unit[item.name] == 'usage' || module.unit[item.name] == 'speed' || module.unit[item.name] == 'percent'">
                    <input type="text" class="form-control" placeholder="Decimal Value" ng-model="module.dataDecimal[item.name]" ng-required="true" numbers-only>
                </div>
            </div>
        </div>
    </div>
</div>
 -->